@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  font-family: 'Roboto', sans-serif;
}

body{
  background-color: rgb(245, 238, 213);
}
.center{
  text-align: center;
  font-size: 32px;
  /* font-family: Arial, Helvetica, sans-serif; */
  background-color: rgb(68, 66, 66);
  padding: 15px;
  color: white;
  font-weight: bold;
}
.container{
  padding: 0px 50px;
}